<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="bkgWrapper">
            <div class="bkg1">
                <img src="../img/bkg1.png" />
            </div>
            <div class="bkg2">
                <img src="../img/bkg2.png" />
            </div>
        </div>

        <div class="loginWrapper">
            
        </div>
    </div>
</body>
</html>