<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupos e Temas</title>
    <link rel="stylesheet" href="../style/integrantes.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

</head>

<body>
    <div class="container">
        <div class="boxContent">
            <div class="titulo">
                <h1><strong>CAD</strong> Alunos</h1>
                <h3>Grupos e Temas</h3>
            </div>
        
            <div class="grupo-caixa">
                <div class="borda_caixa">
                    <h2>Grupo 1</h2>
                    <p><span>Tema - </span>Banco de Dados e Documentação do Sistema (Diagrama de Caso de Uso e de Classe)</p>
                    <p><span>Integrantes:</span> Antônia, Gessiel, Lara, Gabriela</p>
                </div>
                <div class="borda_caixa">
                    <h2>Grupo 2</h2>
                    <p><span>Tema - </span> Atualizar e Excluir</p>
                    <p><span>Integrantes:</span> Fabiana, Leandra, Ana Carolina, Lucas Cainã, Douglas</p>
                </div>
                <div class="borda_caixa">
                    <h2>Grupo 3</h2>
                    <p><span>Tema - </span> Controle</p>
                    <p><span>Integrantes:</span> Paulo Henrique, Vinícius, Vitor Rocha, Thiago Nunes</p>
                </div>
                <div class="borda_caixa">
                    <h2>Grupo 4</h2>
                    <p><span>Tema - </span> JavaScript</p>
                    <p><span>Integrantes:</span> Pedro Henrique, Mateus Santos, Pascoal, Eduardo Lima, Flávio</p>
                </div>
                <div class="borda_caixa">
                    <h2>Grupo 5</h2>
                    <p><span>Tema - </span> Cadastrar e Listar</p>
                    <p><span>Integrantes:</span> Bruna, Eduardo Ferreira, Luan de Souza, Lucas, Wesley</p>
                </div>
                <div class="borda_caixa">
                    <h2>Grupo 6</h2>
                    <p><span>Tema - </span> Front-end</p>
                    <p><span>Integrantes:</span> Mateus Peralta, Ulisses, Nathália Zuza, Nathália Rodrigues, Pablynne</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>