<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../style/cadastro.css">
</head>
<body>
    <div class="container">
        <div class="container-left">
            <div class="logo">
                <span><strong>CAD</strong> Alunos</span>
            </div>

            <div class="sistema_container-left">
                <span>Sistema de cadastro de usuários</span>
            </div>
        </div>
    </div>
</body>
</html>