<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos</title>
    <link rel="stylesheet" href="../style/stylelistagem.css">
</head>
<body>
    <div class="container">
        <div class="titulo">
            <h1><strong>CAD</strong> Aluno</h1>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>CPF</th>
                    <th>Endereço</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>João Silva</td>
                    <td>joao.silva@example.com</td>
                    <td>123.456.789-00</td>
                    <td>Rua das Flores, 123</td>
                    <td class="acao">
                        <button class="action-btn">
                            <img src="img/edit-icon.png.png" alt="Editar">
                        </button>
                        <button class="action-btn">
                            <img src="img/excluir.png" alt="Editar">
                        </button>
                    </td>
                </tr>      
            </tbody>
        </table>
            <div class="voltar">
                <button class="action-voltar">Voltar</button>
            </div>
    </div>
    
</body>
</html>