@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  height: 100vh;
}

.container-body {
  height: 100%;
  background-image: url(../img/img-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);

  /* max-width: 1200px;
    max-height: 1920px; */
  width: 60%;
  height: 73%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.container-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: #005594;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.logo,
.sistema_container-left {
  position: absolute;
  z-index: 6;
  color: #fff;
  left: 5%;
}

.logo {
  top: 3%;
  left: 2%;
  font-size: 32px;
}

.logo::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: -6.5px;
  width: 108%;
  height: 2%;
  background-color: #fff;
}

.sistema_container-left {
  bottom: 6%;
  width: 60%;
  font-weight: 300;
  font-size: 16px;
}

.container-right {
  position: absolute;
  content: "";
  top: 0;
  right: 10%;
  width: 50%;
  height: 100%;
}

h1 {
  text-align: center;
  margin: 8% auto;
  color: #005594;
  font-weight: bold;
  font-size: 24px;
}

.formRow {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"] {
  border: none;
  border-bottom: 1px solid #f78b1f;
  outline: none;
  padding: 3px 0;
  width: 78%;
  margin: 3.5% 1%;
  transition: border 300ms ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-bottom: 1px solid #814810;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
  color: #9c9c9c;
  font-size: 13px;
}

button {
  background: none;
  height: 4.2%;
}

.btn-cadastro {
  position: absolute;
  left: 50%;
  top: 78%;
  transform: translate(-50%);

  color: #005594;
  padding: 5px 30px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  margin: 25px 0;
  padding: 0;
  border-bottom: 2px solid #f78b1f;
}

.btn-cadastro:hover {
  color: #f78b1f;
  cursor: pointer;
}

/* Responsividade */
/* @media screen and (max-width: 1920px) {
    .container {
        width: 100vh;
        height: 60%;
        top: 19%;
    }
    
} */

@media screen and (max-width: 1200px) {
  .container {
    width: 68%;
    height: 80%;
  }

  .container-right {
    width: 50%;
  }

  .logo {
    font-size: 29px;
  }

  .sistema_container-left {
    width: 90%;
  }

  h1 {
    font-size: 20px;
  }

  button {
    height: 4.3%;
  }

  .btn-cadastro {
    top: 78%;
  }
}

@media (max-width: 992px) {
  .container {
    width: 80%;
    max-height: 75%;
  }

  .container-left {
    width: 35%;
  }

  .container-right {
    width: 46%;
  }

  .sistema_container-left {
    width: 70%;
  }

  h1 {
    font-size: 20px;
  }

  input[type="text"],
  input[type="email"] {
    margin: 4.6% auto;
  }

  button {
    height: 4.6%;
  }

  .btn-cadastro {
    top: 83%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    height: 80%;
  }

  .container-left {
    width: 40%;
  }

  .logo {
    left: 3%;
  }

  .container-right {
    width: 40%;
    height: 100%;
  }

  h1 {
    font-size: 18px;
    margin-top: 10%;
  }

  input[type="text"],
  input[type="email"] {
    width: 85%;
    margin: 7% auto;
  }

  .btn-cadastro {
    top: 79%;
  }
}

@media (max-width: 634px) {
  .container {
    width: 80%;
    height: 100%;
    top: 10%;
  }

  .container-left {
    width: 100%;
    height: 16%;
    border-radius: 16px 16px 0 0;
  }

  .logo {
    left: 1.2%;
  }

  .container-right {
    width: 98%;
    height: 86%;
    top: 13%;
    right: 0;
  }

  h1 {
    margin: 5% auto;
    font-size: 16px;
  }

  .formRow {
    flex-direction: column;
  }

  input[type="text"],
  input[type="email"] {
    width: 87%;
    margin: 3.6% auto;
  }

  button {
    height: 5.3%;
  }

  .btn-cadastro {
    top: 86%;
  }
}

@media (max-width: 523px) {
  .logo {
    left: 1.7%;
  }

  .sistema_container-left {
    font-size: 14px;
    width: 100%;
  }

  .container-right {
    height: 88%;
  }

  input[type="text"],
  input[type="email"] {
    width: 87%;
    margin: 4.6% auto;
  }

  button {
    height: 4.6%;
  }

  .btn-cadastro {
    top: 84%;
  }
}

@media (max-width: 400px) {
  .container {
    height: 70%;
  }

  .logo {
    font-size: 26px;
  }

  h1 {
    font-size: 14px;
  }

  .btn-cadastro {
    font-size: 14px;
    top: 79%;
  }
}

@media (max-width: 388px) {
  .container {
    height: 80%;
  }

  .logo {
    font-size: 20px;
  }

  .sistema_container-left {
    font-size: 14px;
    width: 100%;
  }

  .container-left {
    height: 13%;
  }

  .container-right {
    top: 15%;
    height: 84%;
    width: 100%;
    padding: 0 4px;
  }

  h1 {
    font-size: 14px;
  }

  .btn-cadastro {
    font-size: 14px;
    top: 76%;
  }
}

@media (max-width: 343px) {
  .container {
    height: 78%;
  }

  .container-right {
    height: 86%;
  }

  input[type="text"],
  input[type="email"] {
    width: 85%;
    margin: 5% auto;
  }
}
