<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupos e Temas</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
    </style>
</head>
<body>
<h1>Grupos e Temas</h1>
    <table>
        <thead>
            <tr>
                <th>Grupo</th>
                <th>Tema</th>
                <th>Integrantes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Grupo 1</td>
                <td>Tema 1: Banco de Dados e Documentação do Sistema (Diagrama de Caso de Uso e de Classe)</td>
                <td>Antônia, Gessiel, Lara, Gabriela</td>
            </tr>
            <tr>
                <td>Grupo 2</td>
                <td>Tema 4: Atualizar e Excluir</td>
                <td>Fabiana, Leandra, Ana Carolina, Lucas Cainã, Douglas</td>
            </tr>
            <tr>
                <td>Grupo 3</td>
                <td>Tema 2: Controle</td>
                <td>Paulo Henrique, Vinícius, Vitor Rocha, Thiago Nunes</td>
            </tr>
            <tr>
                <td>Grupo 4</td>
                <td>Tema 6: JavaScript</td>
                <td>Pedro Henrique, Mateus Santos, Pascoal, Eduardo Lima, Flávio</td>
            </tr>
            <tr>
                <td>Grupo 5</td>
                <td>Tema 3: Cadastrar e Listar</td>
                <td>Bruna, Eduardo Ferreira, Luan de Souza, Lucas, Wesley</td>
            </tr>
            <tr>
                <td>Grupo 6</td>
                <td>Tema 5: Frontend</td>
                <td>Mateus Peralta, Ulisses, Nathália Zuza, Nathália Rodrigues, Pablyane</td>
            </tr>
        </tbody>
    </table>
</body>
    
</body>
</html>